<div class="row alerts">
    <div class="col-md-4">
        <div id="success" class="alert alert-success {{#if noMessage}}invisible{{/if}}">
            {{ successMgs }}
        </div>
    </div>
</div>

<div class="games">
    {{# each products }}
        <div class="game">
            <div class="card thumbnail">
                <img class="card-img-top shop-image img-fluid" src="{{ this.imagePath }}" alt="Card image">
                <div class="card-block">
                    <h4 class="card-title">{{ this.title }}</h4>
                    <p class="card-text product-description">
                        {{ this.description }}
                    </p>
                    <div class="clearfix">
                        <div class="price pull-left">{{ this.price }}</div>
                        <a href="/cart/add-to-cart/{{this._id}}" class="btn btn-raised btn-success pull-right">
                            <i class="fa fa-gift" aria-hidden="true"></i> Add to cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>
